/* Estilos para todo el cuerpo de los archivos del sistema: */
body{
    font-family: sans-serif; /* Se usa la fuente sans-serif para una mejor lectura del texto. */
    overflow-x: hidden; /* Esconde un scroll horizontal en caso de haberlo. */
    overflow-y: scroll; /* Permite que haya un scroll vertical en todos los casos donde se requiera tenerlo. */
}
/* Estilo añadido a todos los elementos que son un enlace y que tienen una decoración al hacerse un 'hover' sobre ellos: */
a:hover{
    text-decoration: none; /* Con el valor 'none' se quita toda decoración que el enlace pueda tener al hacerse 'hover' sobre él. */
}
/* Estilo  añadido al selector universal (afecta el estilo de todos los elementos en cada uno de los archivos): */
*{
    list-style: none; /* En este caso, el valor 'none' quita el estilo que un elemento recibe automaticamente al estar dentro de una lista HTML (<ol> o <ul>). */
}
#header{
    background-color: #11b6a0; 
    border-radius: 0%;
}
#title{
    font-size: 2em; /* Se define el tamaño del texto. */
    font-weight: 900; /* Se define el grosor del texto, el cual, para esta ocasión, equivale a negrita usando un valor numérico de 900. */
}
/* Estilos aplicados para el botón de inicio de sesión en el archivo 'index.php': */ 
#boton2{
    width: 8em; /* Se específica el ancho del elemento con la unidad de medida 'em', la cual facilita el proceso al querer hacer un sitio responsive debido a su mayor precisión con los tamaños de los elementos (a diferencia de otras medidas como la 'px'). */
    margin-top: 0.6em; /* Se crea un margen superior para controlar el posicionamiento del elemento de manera vertical.*/
    color: #fff; /* Se define el color blanco para el texto dentro del elemento. */
    background: rgba(255, 255, 255, 0.315); /* Se define el color de fondo para el elemento (en este caso, se usa el modelo de color RGB junto al adicional 'alpha', que otorga transparencia al color). */
    border-radius: 0; /* Con el valor '0', no se añade a ningún extremo del elemento un borde redondo. */
    transition: all .5 ease; /* Se hace una transición que dura 0.5 milisegundos, la cual aplica un cambio a todas las propiedades supuestas a cambiar su valor (all) y específica la velocidad de la transición (ease). Esto sucede al dejar de hacer hover sobre el elemento. */
}
/* Al hacer un 'hover' o pasar el cursor sobre el botón de iniciar sesión, suceden los siguientes cambios: */
#boton2:hover{
    color: #fff; /* El color blanco para el texto permanece en los elementos. */
    background: #fa7e36; /* Mientras que el color de fondo para estos cambia ligeramente (en los 0.5 milisegundos mencionados anteriormente). */
}
#font{
    text-shadow: -5px -5px 5px rgba(0, 0, 0, 0.253); /* Se agrega, para el lado izquierdo del texto, una sombra oscura que contiene un suave difuminado. */
}
#perfil{
    float: left; /* Se posiciona el 'badge' o insignia totalmente a la izquierda de donde está contenido.*/
    letter-spacing: 0.03em; /* Se genera un pequeño espaciado entre cada letra de la palabra. */
    font-size: 1.1em; /* Se define el tamaño para el texto dentro del 'badge' o insignia. */
    border-radius: 0; /* Se declara que el 'badge' no contenga bordes redondos en sus extremos. */
    background-color: rgba(255, 255, 255, 0.747); /* Se agrega un color de fondo para el 'badge'. */
    margin-left: 0.050em; /* Se controla el posicionamiento horizontal del elemento con un margen izquierdo. */
}
#enter_button{
    font-size: 1.1em; /* Se define el tamaño del texto dentro del botón. */
    background-color: rgba(0, 0, 0, 0.603); /* Se asigna un color de fondo con transparencia para el botón. */
    color: #fff; /* Se asigna el color para el texto dentro del botón. */
    border-radius: 0; /* Se declara que el botón no contenga ningún borde redondo. */
    transition: 0.5s; /* Se crea una transición ligera que dura 0.5 milisegundos. */
    width: 11em; /* Se define el ancho del botón. */
    margin-left: auto;
    margin-right: auto;
}
/* Cambios al botón de enviar datos desde un formulario al hacer un 'hover' o pasar el cursor sobre el mismo: */
#enter_button:hover{
    background-color: rgba(0, 0, 0, 0.76); /* Se asigna un color de fondo que cambia ligeramente a uno más oscuro que el original. */
    box-shadow: -4px -4px 5px 4px rgba(255, 255, 255, 0.2), 4px 4px 5px 4px rgba(255, 255, 255, 0.2); /* Se crean 2 tipos de sombra para el botón, las cuales corresponden a bordear cada lado del botón con una sombra gris difuminada. */
}
#input_email{
    width: 70%; 
    height: 2em; 
    border: none; 
    font-weight: bold;
}
#enter_button_recovery{
    font-size: 1.1em; /* Se define el tamaño del texto dentro del botón. */
    background-color: rgba(0, 0, 0, 0.603); /* Se asigna un color de fondo con transparencia para el botón. */
    color: #fff; /* Se asigna el color para el texto dentro del botón. */
    border-radius: 0; /* Se declara que el botón no contenga ningún borde redondo. */
    transition: 0.5s; /* Se crea una transición ligera que dura 0.5 milisegundos. */
    width: 11em; /* Se define el ancho del botón. */
    border: none; 
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}
/* Cambios al botón de enviar datos desde un formulario al hacer un 'hover' o pasar el cursor sobre el mismo: */
#enter_button_recovery:hover{
    background-color: rgba(0, 0, 0, 0.76); /* Se asigna un color de fondo que cambia ligeramente a uno más oscuro que el original. */
    box-shadow: -4px -4px 5px 4px rgba(255, 255, 255, 0.2), 4px 4px 5px 4px rgba(255, 255, 255, 0.2); /* Se crean 2 tipos de sombra para el botón, las cuales corresponden a bordear cada lado del botón con una sombra gris difuminada. */
}
#recovery{
    color: #fff;
    transition: 0.2s;
}
#recovery:hover{
    border-bottom: 2px solid #fa7e36;
}
/* Estilos para el carousel o slider ubicado en el archivo 'index.php' */
#demo{
    box-shadow: 2px 2px 5px #000; /* Se crea en la parte derecha e inferior del elemento una sombra de color negro. */
    height: 530px; /* Se específica la longitud vertical o la altura para el elemento en cuestión. */
}
#demo img{
    width: 100%;
    height: 530px;
}
/* Estilo para el botón con el identificador 'about_button'. Este botón corresponde a aquel ubicado en la zona inferior izquierda del archivo 'index.php', el cual es para saber más acerca del software: */
#about_button{
    color: #fff; /* Se asigna el color para el texto. */
    border-radius: 0; /* Se retiran los bordes redondos que el elemento posee. */
    background-color: #fa7e36; /* Se añade un color de fondo al botón. */
    border: 2px solid #fff; /* Se añade un borde solido de color claro y con un tamaño delgado. */
    transition: 0.5s; /* Se crea una transición con una duración de 0.5 milisegundos al dejar de hacer 'hover'. */
}
/* Estilos añadidos a el botón de 'acerca de este software' al hacer 'hover' sobre el mismo con el cursor: */
#about_button:hover{
    background-color: #db6f31; /* Se cambia el color de fondo del botón a uno más opaco. */
    transition: 0.5s; /* Se genera una transición de 0.5 milisegundos al comenzarse a generar los cambios en el botón. */
}
.id_icon{
    text-shadow: -5px -5px 5px rgba(0, 0, 0, 0.253); /* Se agrega, para el lado izquierdo del texto, una sombra oscura que contiene un suave difuminado. */
}
/* Estilo aplicado al cuerpo de las ventanas modales ubicadas en los siguientes archivos del sistema: ACTION_restaurar_pass.php, form_cambio.php, index.php, sign_up.php, system_admin.php y system.php: */
.modal-body{
    background-color:rgba(35, 130, 117, 0.589); /* Se define un color verde oscuro como el fondo de la ventana modal. */
    text-align: center; /* Se alinea el texto incluido en la ventana modal al centro de las misma. */
    border-radius: 2px; /* Se aplica un borde redondo a cada extremo de la ventana modal. */
    border: 5px solid #fff;
}
.modal_recovery{
    background-color: rgba(35, 130, 117, 0.589); /* Se define un color verde oscuro como el fondo de la ventana modal. */
    text-align: center; /* Se alinea el texto incluido en la ventana modal al centro de las misma. */
    border-radius: 0;
    border: 5px solid rgba(0, 0, 0, 0.637);
}
.recovery_text{
    color: #fff;
}
.form-group input, .form-group select{
    border: none; /* Se define que los elementos no posean ningún borde. */
    border-radius: 0; /* Se define que no hayan bordes redondeados para los elementos. */
    font-weight: bold; /* Se define que el texto de los elementos esté en negrita. */
}
.form-group input:focus, .form-group select:focus{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.513); /* Se aplica una sombra de color verde oscuro al lado derecho e inferior del elemento (campo del formulario). */
}
.show_icon{
    color: #000; 
    margin-top: -1.75em; 
    margin-right: 1em; 
    float: right;
}
/* Estilos para el diseño interior de los tooltip generados por el framework de diseño Bootstrap: */
.tooltip-inner{
    text-align: center !important; /* El texto dentro de los tooltips es alineado centralmente. Se usa la declaración '!important' para definir que tal valor siempre va a ser aplicado en primer lugar, sin importar el orden del mismo. */ 
    border: 2px solid #fff; /* Se define un borde sólido de color blanco para los tooltips. */
}
.nouser{
    border-radius: 0; 
    font-weight: bold;
    width: 100%; 
}
/* Estilo dado a la barra de navegación ubicada tanto en el archivo 'index.php' como en 'system.php': */
.menu_inicio {
    height: 90px; /* Se específica la longitud vertical o la altura para el elemento en cuestión. */
}
.objectives_container{
    background:#20c7b1; 
    border: 3px solid rgba(0, 0, 0, 0.3); 
    border-radius: 0;
}
.objectives_titles{
    background-color: #20c7b1;
}
.used_elements{
    border: 3px solid rgba(0, 0, 0, 0.1); 
    border-radius: 0; 
    max-width: 540px;
}
.material-icons.md-48{
    font-size: 130px;
}
/* Contenedor 'grid' o de grilla que guarda varios elementos en conjunto y con un diseño personalizado: */
.grid-container {
    display: grid; /* Se específica que la clase será mostrada en pantalla como un 'grid' o grilla: */
    align-content: center; /* Se alinea de manera centrada el contenido que tendrá. */
    grid-template-columns: auto auto auto; /* Se declara que hayan 3 elementos por cada columna y que el tamaño de cada uno sea automático. */
    grid-gap: 10px; /* Se asigna un espaciado entre cada elemento del 'grid': */
    background-color:white; /* Se asigna un color blanco de fondo al 'grid': */
    padding: 50px; /* Se le otorga un espaciado interno al 'grid'. */
  }
/* Estilos asignados a todos los elementos dentro de la clase 'grid-container' y que, adicionalmente, estén dentro de una etiqueta 'div': */  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8); /* Se les asigna un color claro de fondo. */
    text-align: center; /* Se les indica que el texto que contengan irá alineado en el centro del elemento. */
    padding: 20px 0; /* Se asigna un espaciado interno al elemento contenido. */
    font-size: 30px; /* Se da un tamaño personalizado al texto. */
  }
/* Estilos dados a la clase 'flip-card' que contiene todo lo relacionado a cada 'card' o carta del CSS Grid en el archivo 'index.php': */
  .flip-card {
    background-color: transparent;
    width: 300px; /* Se asigna el ancho de la 'card' o carta. */
    height: 300px; /* Se asigna la altura de la 'card' o carta. */
    perspective: 1000px; /* Otorga una suave perspectiva 3D a la carta. */
    margin-left: 20%; /* Se controla el posicionamiento horizontal de la carta con  un margen izquierdo. */
  }
/* Estilos dados en general a cada carta o 'card' del CSS Grid en el archivo 'index.php': */  
  .flip-card-inner {
    position: relative; /* Se usa una posición relativa para controlar el posicionamiento de cada elemento en la pantalla.
     */
    width: 100%; /* Se indica que el ancho interior de la carta para contener sus elementos debe ser igual a todo el que permite el 'grid' tener. */
    height: 100%; /* Se indica que la altura interior de la carta para contener sus elementos debe ser igual a todo el que permite el 'grid' tener. */
    text-align: center; /* Se centra el texto de la carta. */
    transition: transform 0.6s; /* Se crea una pequeña transición al momento de hacer un 'hover' sobre alguna de las cartas. */
    transform-style: preserve-3d; /* Se preserva el estilo 3D para que el elemento posea su propio espacio al momento de hacer su movimiento para mostrar la cara frontal o trasera de la carta. */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Se agrega una sombra oscura con difuminado a la cara frontal de cada carta. */
  }
/* Cambio general que ocurrirá a una 'card' o carta del Grid CSS al hacer 'hover' sobre esta: */  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg); /* La carta hace un giro de 180 grados para dejar ver su parte trasera mientras el 'hover' se mantenga. */
  }
/* Estilos dados tanto a la cara frontal como a la cara trasera de las 'cards' o cartas en el archivo 'index.php': */  
  .flip-card-front, .flip-card-back {
    position: fixed; /* Se usa la posición 'fixed' para que la cara trasera y frontal se mantengan en su posición supuesta antes y después de un 'hover' */
    width: 100%; /* Se específica que el ancho de la cara frontal y trasera de cada carta sea el máximo asignado por el 'grid' */
    height: 100%; /* Se específica que la altura de la cara frontal y trasera de cada carta sea el máximo asignado por el 'grid' */
    backface-visibility: hidden; /* Se declara que desde la parte frontal de la carta no pueda ser observada la parte trasera, y viceversa. */
  }
/* Estilos añadidos a la parte trasera de las 'cards' o cartas en el archivo 'index.php': */ 
  .flip-card-back {
    color: white; /* Se le asigna el color blanco al texto. */
    font-size: 23px; /* Se le asigna un tamaño personalizado al texto. */
    transform: rotateY(180deg); /* Se usa la propiedad 'transform' para indicar el cambio de orientación de la parte trasera de la carta al dejar de ser tocada por el cursor ('hover'). */
    padding: 2px; /* Se indica el espaciado interno entre elementos. */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Se agrega una sombra oscura con difuminado a la cara trasera de cada carta. */
  }
/* Se asigna un margen izquierdo y margen derecho al texto añadido a cada 'card' o carta del CSS Grid al ser volteda con un 'hover'; además de alinear el texto al centro: */
.flip-card-back p{
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.flip_dinamism_icon, .flip_ink_icon{
    color: rgb(35, 130, 118);
}
.flip_paper_icon, .flip_simple_icon{
    color: rgb(89, 181, 72);
}
.flip_energy_icon, .flip_scale_icon{
    color: #fa7e36;
}
.flip_dinamism_bg, .flip_ink_bg{
    background-color: rgb(35, 130, 118);
}
.flip_paper_bg, .flip_simple_bg{
    background-color: rgb(89, 181, 72);
}
.flip_energy_bg, .flip_scale_bg{
    background-color: #fa7e36
}
/* Se alínea al centro el título que contiene cada 'card' o carta del CSS Grid al ser volteada con un 'hover': */
.titulos{
    text-align: center;
    font-weight: bold;
}
.txt_first_section{
    font-size: 20px; 
    text-align: justify;
}
.txt_last_section{
    font-size:1.5em;
}
.img_developers{
    width: 15em;
}
.creator{
    border: none;
}
.main_titles{
    background-color: rgba(0, 0, 0, 0.048); 
    font-size: 2.5em;
}
.index_footer{
    background-color: #fa7e36;
}
.about_software{
    line-height: 3em;
}
.site_rights{
    text-align: center; 
    line-height: 3em; 
    color: #fff;
}
.sena_logo{
    filter: invert(100%);
}
.modal_about{
    background-color: #fff; 
    border-radius: 0;
}
.text_one{
    color: #fa7e36;
}
.text_two{
    color: rgb(35, 130, 117);
}
.bootstrap_logo{
    color: rgb(78, 43, 128);
}
.java_logo{
    color: rgb(227, 87, 36);
}
.php_logo{
    color: rgb(119, 133, 212);
}
@media (max-width: 1000px) {
    #title {
      text-align: center;
    }
  }
@media (max-width: 1000px) {
    .reda_image img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
@media (max-width: 750px) {
    #demo, #demo img{
        height: 400px;
    }
  }
@media (max-width: 1050px) {
    .grid-container{
        grid-template-columns: auto auto;
    }
  }
@media (max-width: 720px) {
    .grid-container{
        grid-template-columns: auto;
        margin-left: 0%;
        padding: 0;
    }
  }
