/* ARCHIVO CSS PARA LA VISTA 'register.php' */

/* Se nombra a la etiqueta de HTML llamada 'body' para añadir estilo a todos los elementos que se encuentren dentro de dicha etiqueta:*/
body{
    font-family: sans-serif; /* Se define una fuente sans-serif para todo el texto del archivo, esto para hacer más fácil la lectura de las palabras. */
}
/* Se añade un estilo para todos los elementos que estén dentro de la etiqueta HTML llamada 'li': */
li{
    list-style: none; /* La propiedad 'list-style' permite personalizar el signo que aparece antes de cada elemento dentro de una lista. Para este caso se ha definido que ningún elemento posea algún estilo de lista, como un número o un círculo. */
}
/* Se llama a la etiqueta HTML llamada 'a' para añadirle un estilo al momento de que el usuraio hace un 'hover' o, en otras palabras, pasar el cursor por encima de un enlace: */
a:hover{
    text-decoration: none;  /* En este caso, se indica que el texto del enlace no contenga ningún tipo de decoración (como el subrayado) al hacer un 'hover' sobre el mismo. */
}
/* Se nombra al identificador 'header' para dar estilo a la cabecera que contiene el logo y el título del proyecto: */
#header{
    background-color: #11b6a0; /* Se asigna un color verde esmeralda a la cabecera. */ 
    border-radius: 0%; /* Se define que la cabecera no contenga ningún borde redondo en alguno de sus extremos. */
}
/* Se llama al identificador 'title' para otorgale estilos al nombre del proyecto que se encuentra dentro del contenedor que posee el identificador 'header': */
#title{
    font-size: 2em; /* Se define el tamaño del texto. */
    font-weight: 900; /* Se define el grosor del texto, el cual, para esta ocasión, equivale a negrita al usarse un valor numérico de 900. */
}
/* Se nombra al identificador 'txt_button' el cual contiene los estilos para el botón que permite comenzar el registro de asistencia de una ficha: */
#txt_button{
    background-color: rgb(204, 102, 29); /* Se asigna un color naranja claro al botón. */
    border: 3px solid rgb(238, 210, 191); /* Se crea un borde para el botón con un color un poco más oscuro que el de fondo. */
    border-radius: 0; /* Se declara que el botón no posea bordes redondos. */
    transition: 0.5s; /* Se inserta una transición ligera hacia los cambios al hacer un 'hover' sobre el botón. */
    margin-top: 1em; /* Se asigna un margen superior para controlar la distancia entre las cartas y el botón. */
}
/* Cambio de estilo que sucederá al hacer un 'hover' sobre el botón anterior descrito: */
#txt_button:hover{
    background-color: rgb(225, 115, 35); /* El color del botón cambiará ligeramente a uno más claro que el original. */
}
/* Se nombra al identificador 'go_back' para asignarle estilos al enlace que permite volver al inicio del sistema del proyecto: */
#go_back{
    color: #000; /* Se asigna que el color del texto sea negro. */
    transition: 0.2s; /* Se crea una transición para que el cambio sucedido al hacer 'hover' sobre el enlace no sea tan repentino. */
}
/* Se llama nuevamente al identificador 'go_back', en este caso para asignarle un estilo cada vez que se hace 'hover' sobre el enlace: */
#go_back:hover{
    border-bottom: 2px solid #e17323; /* Se crea un borde inferior al enlace, el cual permite identificar que el cursor está sobre el enlace. */
}
/* Las clases 'first_line' y 'second_line' contienen el título principal del archivo. La primera clase asigna un color a las tres primeras palabras del título, mientras que la segunda clase da un color diferente a las últimas palabra de este:*/
.first_line{
    color: rgb(225, 115, 35); /* Color naranja asignado a las dos primeras palabras. */
}
.second_line{
    color:rgb(35, 130, 118); /* Color verde esmeralda aplicado a la última palabra. */
}
/* Estilo dado a los iconos contenidos dentro de cada carta (recuadros) donde se encuentran las opciones a definir antes de comenzar el registro de asistencia de una ficha. Cada clase aquí corresponde a un único icono: */
.course, .date, .clock_ini, .clock_fin, .verify{
    font-size: 8em; /* Se define el tamaño que tendrán los iconos. */
    /* Se define un gradiente (combinación de colores) para cada uno de los iconos:*/
    background: -webkit-linear-gradient(left, #238276 0%,	#59b548 50%, #e17323 100%); 
    background: linear-gradient(to right, #238276 20%,	#59b548 50%, #e17323 70%);
    /* Se usa la propiedad 'background-clip' para que un elemento considerado como texto posea un fondo ya definido anteriormente: */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /* Se específica que el color de relleno predeterminado para los iconos (negro) sea totalmente transparente y pueda darse paso al gradiente como color de fondo::*/
   -webkit-text-fill-color:transparent;
}
/* Estilo otorgado a las cartas donde se encuentran todos los elementos referentes a la toma de asistencia: */
.card{
    border: 2px solid rgba(0, 0, 0, 0.267); /* Se asigna un borde casi transparente de 2 pixeles a cada carta. */
    border-radius: 0; /* Se define que el borde dado a cada carta no contenga bordes redondos en alguno de sus extremos. */
}
/* Estilo otorgado a los campos input hallados dentro de la clase 'card-body', que corresponde al cuerpo de cada carta: */
.card-body input{
    border-radius: 0; /* Se asigna que los campos input no posean ningún borde redondo en sus extremos. */
}
/* Se utiliza la regla '@media' para aplicar un estilo determinado cada vez que la resolución de la pantalla del dispositivo muestre la interfaz del navegador en 990 pixeles: */
@media (max-width: 990px) {
    /* Se llama al elemento al que se le hará un cambio al llegar a la resolución mencionada anteriormente. En este caso, el elemento es aquel que posee el identificador 'title': */
    #title {
      text-align: center; /* La alineación del texto pasará a ser en el centro y no a la izquierda del contenedor. */
    }
  }
/* Se utiliza nuevamente la regla '@media' para aplicar un estilo determinado cada vez que la resolución de la pantalla del dispositivo muestre la interfaz del navegador en 990 pixeles: */
@media (max-width: 990px) {
    /* Ahora el cambio es aplicado a la imagen que se encuentra dentro de la clase 'reda_image', la cual corresponde al logo del proyecto. */
    .reda_image img{
      display: block; /* Se define que la imagen sea un elemento en bloque y que, por lo tanto, tome todo el ancho del contendeor. */
      margin-left: auto; /* Se define que el margen izquierdo y derecho alineen de manera automática la imagen, la cual quedaría alineada en el centro del contenedor. */
      margin-right: auto;
    }
  }