body{
    font-family: sans-serif; /* Se usa la fuente sans-serif para una mejor lectura del texto. */
    overflow-x: hidden;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
#header{
    background-color: #11b6a0; 
    border-radius: 0%;
}
#title{
    font-size: 2em; /* Se define el tamaño del texto. */
    font-weight: 900; /* Se define el grosor del texto, el cual, para esta ocasión, equivale a negrita usando un valor numérico de 900. */
}
#contenedor{
    min-width: 120px; 
    height: 370px; 
    margin: 0 auto;
}
#contenedor-modal{
    min-width: 310px; 
    height: 400px; 
    margin: 0 auto;
}
#go_back{
    color: #000;
    transition: 0.2s;
}
#go_back:hover{
    border-bottom: 2px solid #e17323;
}
.first_line{
    color: rgb(225, 115, 35); 
    background-color: rgb(255, 255, 255);
}
.second_line{
    color:rgb(35, 130, 118);
}
.select{
    font-size: 1.5em; 
    border: 1px solid rgb(89, 181, 72); 
    background-color: rgba(0, 0, 0, 0.048);
}
@media (max-width: 990px) {
    #title {
      text-align: center;
    }
  }
@media (max-width: 990px) {
    .reda_image img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }